node_modules
dist
.svelte-kit
.DS_Store
.env
.env.*
.envrc
.env.local
.env.test
.env.production
.env.development
.vscode
.idea
coverage/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
*.tmp
*.temp
*.swp
bun.lockb
